<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <h1>Idea Movies</h1>
      <ul>
        <li>Browse</li>
        <li>Movies</li>
        <li>Series</li>
      </ul>
      <form action="" method="get">
        <input type="text" placeholder="search movies" />
        <input type="submit" value="Search" />
      </form>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
